

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

/* shared styles */
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 36px;
    border-radius: 5px;
    border: none;
}
/* Nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;

}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    
}

/* Banner */

.banner-title{
    font-weight: bold ;
    font-size: 85px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}

.banner{
    display: flex;
    margin-right: 50px;
    justify-content: space-between;
    margin: 0px 30px 0px 200px;
}

.banner-profile-pic{
    width: 585px;
}

.banner-content{
    max-width: 585px;
}